* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {

  --white: #FFF;

  --green-mczink: #37382b;
  --yellow-mczink: ##eedea4;
  --khaki: #87825b;
  --khaki-sub: #9f9871;
  --gray-clear: #9c9c8c;
  --gray-green: #515244;
  --gray-green-medium: #6c6c5c;

  --green-soldier: #a4a46c;
  
  --dark: #020202;
  --dark-gray: #3B3C39; 
  --gray-body: #424242;
  // --body: #353335; opção 2 para o body
  --body: #272627;

  --font: #D3D3DA;
  --sub-title: #E6E6EE;

}

@media (max-width: 1080px) {
  html {

      font-size: 93.75%;
  }
}  

body {
  background: var(--body);
}

body, input, textarea{

  font: 500 1rem Inter, sans-serif;
  color: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans -serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  font: 500 1rem Inter, sans-serif;
  color: var(--body);
}